@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&display=swap');

@font-face {
  src: url(Fonts/Randrake.ttf);
  font-family: Randrake;
  src: url(Fonts/Lora-Regular.ttf);
  font-family: lora;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f5f5f5;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 400px;
  width: auto;

}

nav {
  top: 0;
  position: fixed;
  background: #ffffff;
  height: 80px;
  width: 100%;
  z-index: 100;
}

label.logo {
  color: black;
  font-family: Randrake;
  font-size: 45px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
video {
  width: 100%;
  margin-top: 1em;
}
nav ul {
  color: black;
  float: right;
  margin-right: 10em;
}

nav ul li {
  color: black;
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li .Navhover{
  color: black;
  font-size: 17px;
  padding: 7px 13px;

  text-transform: uppercase;
  text-decoration: none;
}

.Citation ul {
  margin-left: 3em;
  margin-top: 5em;
  font-size: 20px;
  line-height: 40px;
}


.Navhover::after {
  content: '';
  margin-top: -1.5em;
  margin-left: 0.5em;
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

.Navhover:hover::after  {
  width: 99%;
}

.logoclick:visited {
  text-decoration: none;
  color: black;
}

.contact-form {
  width: 85%;
  max-width: 600px;
  background: #101213;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: 'Josefin Sans', sans-serif;
}

.contact-form h1 {
  margin-right: 0;
  color: white;
}

.contact-form .buttonStyle {
  color: white;
}
.contact-form .buttonStyle::after {
  content: '';
  margin-top: 0.3em;
  margin-left: 0em;
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 300ms;
}

.contact-form .buttonStyle:hover::after  {
  width: 99%;
}
.FormField {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.FormField label {
  display: block;
  text-align: left;
  color: #CEA434;
  text-transform: uppercase;
  font-size: 14px
}

.FormField input, .FormField textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
  color: #ffffff;
}

.hambtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 5em;
  cursor: pointer;
  display: none;

}



#check {
  display: none;
}
.TitleFont {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 62px;
  font-family: 'Pacifico', cursive;
  line-height: 2em;
}

.palette-swatch {
  margin-left: 16em;
  margin-bottom: 1em;
  padding: 12px;
  width: 200px;
}


.TopBanner {
  position: relative;
  text-align: center;
  color: white;
}

.TopBanner .FreshBread {
  margin-top: 1em;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 62px;
  font-family: 'Pacifico', cursive;
}

.About {
  margin-top: 10em;
  margin-bottom: 2em;
}
.container-row {
  display: flex;
  flex-wrap: wrap;
}

.container-row .halfimg {
  margin-top: 5em;
  flex: 1;
}

.container-row .Dance {
  margin-top: 5em;
  flex: 1;
  background-color: white;
}

.Dance h1 {
  margin-top: 1em;
  font-size: 120px;
  margin-left: 1em;
  margin-bottom: 1em;
  color: black;
  font-family: Randrake;
}

.Dance h2 {
  margin-top: 1em;
  font-size: 30px;
  margin-left: 1em;
  margin-bottom: 5em;
  color: black;
  margin-left: 4em;
  margin-right: 10em;
  line-height: 40px;
}


.Gallery {
  margin-top: 10em;
  margin-bottom: 3em;
}


.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  color: #CEA434;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 52px;
  margin-bottom: 60px;
  line-height: 1em;
  text-align: center;
}

.box{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.box .Past_work{
  background: #193153;
  margin: 50px;
  margin-bottom: 50px;
  width: 600px;
  padding: 100px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.box .Past_work h3{
  color: #CEA434;
  font-size: 26px;
  margin-top: 15em;
  line-height: 30px;
}

.box .Past_work p.role{
  color: #CEA434;
  margin: 12px 0;
  margin-bottom: 2em;
  font-size: 12px;
  text-transform: uppercase;
}

.box .Past_work p {
  color: white;
}



.box .Past_work .image.fit {
  display: block;
  margin-bottom: -20rem;
  min-width: 100%;
}

.box .Past_work .image.fit img {
  width: 100%;
  height: auto;
}

.image.fit {
  overflow: hidden;
}

.image.fit img {
  transform-origin: 50% 50%;
  transition: transform .25s, visibility .25s ease-in;
}

.image.fit:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;

}

.image.fit:hover .overlay {
  opacity: 0.7;
  transition-duration: 0.5s;
}
.role h1 {
  color: white;
  font-size: 35px;
  font-family: lora;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.role p{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 77%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.role a {
  text-decoration: none;
  font-family: lora;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.role a:hover {
  color: #CEA434;
}


.zoom {
  overflow: hidden;
  transform-origin: 50% 50%;
  transition: transform .25s, visibility .25s ease-in;
}

.zoom:hover {
  transform: scale(1.1);
}


.References {
  margin-top: 5%;
  height: 150px;
  background-color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
.References .content .buttonStyle {
  margin-top: 2em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}



/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  margin-top: -10px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #CEA434;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -5em;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: -0.5em;
  left: -3.5em;

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 10em;
}

.active, .dot:hover {
  background-color: #CEA434;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: inline-block;
  background-color: black;
  color: #ffffff;
  border-radius: 12px;
  font-size: 25px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition-property: color, border;
  transition-duration: 0.5s;
  box-shadow: 5px 10px 0 black;
  border: 2px solid #ffffff;
}

#myBtn:hover {
  color: #CEA434;
  border: 5px solid #CEA434;
}




.box .Post_Box img{
  width: 100%;
  height: auto;
  margin-bottom: 10em;
  margin-top: 5em;
  margin-left: -4em;
}

.box .Post_Box .Collage{
  width: 100%;
  height: auto;
  margin-bottom: 5em;
  margin-top: 5em;
  margin-left: 0em;
}




.box .Post_Box .editing{
  width: 100%;
  height: auto;
  margin-bottom: 10em;
  margin-top: 5em;
  margin-left: 0.1em;
}


.Post {
  display: flex;
  margin-top: 10%;
}

.Post .Post_Box {
  background: #193153;
  margin: 5px;
  margin-bottom: 50px;
  width: 900px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 20px;
  color: #ffffff;
  position: relative;
}

.Post .Post_Box h3 {
  color: #CEA434;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 1em;
  line-height: 50px;
}

.box .Post_Box img{
  width: 100%;
  height: auto;
  margin-bottom: 10em;
  margin-top: 5em;
  margin-left: -4em;
}

.box .Post_Box p {
  text-align: left;

}

.box .Post_Box .spottingLogImg {
  width: 90%;
  height: auto;
  margin-left: 0.5em;
  margin-bottom: 2em;
}

.box .Post_Box .composingImg {
  width: 100%;
  height: auto;
  margin-left: 0em;
  margin-bottom: 2em;
}

.box .Post_Box .soundImg {
  width: 90%;
  height: auto;
  margin-left: -1em;
  margin-bottom: 2em;
}

.box .Post_Box .shootingImg {
  width: 90%;
  height: auto;
  margin-left: -0.5em;
  margin-bottom: 2em;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-bottom: 2em;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

.column3 {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 10px;
  margin-bottom: 2em;
}

.column3 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

.header {
  text-align: center;
  color: #CEA434;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  line-height: 100px;
  font-weight: bold;
  padding-top: 5em;
  padding-bottom: 1em;
}

.content p {
  margin-left: 1em;
  font-family: lora;
  text-align: left;
  font-size: 50px;
}

.content a {
  margin-left: 3.5em;
  margin-top: 0.5em;
}
.buttonStyle {
  font-family: lora;
  border: none;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.buttonStyle::after {
  content: '';
  margin-top: 0.1em;
  margin-left: 0em;
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

.buttonStyle:hover::after {
  width: 99%;
}

.floatup {
  position: relative;
  animation: moving 2s ease-in-out, trans 3s ease-in-out;
}

.floatup1 {
  position: relative;
  animation: trans 3.5s ease-in-out;
  animation-delay: 0.2s;
}

.imgfloatup1 {
  position: relative;
  animation: moveimg 2s ease-in-out, transimg 2.5s ease-in-out;
  animation-delay: 0.1s;
}

.imgfloatup2 {
  position: relative;
  animation: moveimg 2s ease-in-out, transimg 2.5s ease-in-out;
  animation-delay: 0.3s;
}

.imgfloatup3 {
  position: relative;
  animation: moveimg 2s ease-in-out, transimg 2.5s ease-in-out;
  animation-delay: 0.5s;
}

@keyframes moving {
  from { top: 200px; }
  to { top: 0px; }
}

@keyframes trans {
  from {opacity: 0;}
  to {opacity: 100;}
}

@keyframes moveimg {
  from {margin-top: 10em;}
  to {margin-top: 0em;}
}

@keyframes transimg {
  from {opacity: 0;}
  to {opacity: 100;}
}







/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .column3 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding-bottom: 5px;
  }


}

@media screen and (max-width: 1600px) {

  .role h1 {
    font-size: 20px;
  }

  .role p {
    font-size: 12px;
  }
  .container-row {
    flex-direction: column;
  }
  .container-row .Dance{
    width: 100%;
    height: auto;
  }

  .container-row .halfimg{
    width: 100%;
    height: auto;
  }

  .Dance h1 {
    font-size: 100px;
    margin-left: 0.3em;
    margin-right: 0.3em;
  }

  .Dance h2 {
    margin-left: 0.3em;
    margin-right: 0.3em;

  }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .content p{
    font-size: 30px;
  }

  .content a {
    margin-left: 2em;
  }

  .content .buttonStyle {
    font-size: 15px;
    margin-top: 1em;
  }

  .Dance h2 {
    font-size: 20px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    line-height: 30px;
  }
}

@media (max-width: 1570px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1479px) {
  .hambtn {
    display: block;
    margin-right: 1em;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background: black;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 300;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 20px;
    z-index: 301;
  }

  nav ul li .Navhover{
    font-size: 45px;
    color: white;
    line-height: 1.5em;
  }


.Navhover:hover {
  color: #CEA434;
  transition: 0.5s;
}


  #check:checked ~ ul {
    left: 0;
  }
}
